@model QuanLyKho.DTO.EditProductModel;
@using QuanLyKho.Models.Entities;

@{
    ViewData["Title"] = "Edit";
}



<section class="content pb-3">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="Edit" method="post">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Product</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
   
                        <input asp-for="Id" type="hidden" class="form-control">
        
                        <div class="form-group">
                            <label asp-for="Name">Product Name</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Product Description</label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price">Price</label>
                            <input asp-for="Price" class="form-control">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Unit">Unit</label>
                            <input asp-for="Unit" class="form-control">
                            <span asp-validation-for="Unit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Supplier">Supplier</label>
                            <input asp-for="Supplier" class="form-control">
                            <span asp-validation-for="Unit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId">CategoryId</label>
                            <select class="form-control custom-select" asp-for="CategoryId" asp-items="@ViewBag.CategoryId">
                                <option selected="">Select category</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryBrandId">Brand</label>
                            <select class="form-control custom-select" asp-for="CategoryBrandId" asp-items="@ViewBag.Brands">
                                <option selected="">Select brand</option>
                            </select>
                            <span asp-validation-for="CategoryBrandId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Origin">Origin</label>
                            <input asp-for="Origin" class="form-control">
                            <span asp-validation-for="Origin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Weight">Weight</label>
                            <input asp-for="Weight" class="form-control">
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Expiry">Expiry</label>
                            <input asp-for="Expiry" type="date" class="form-control">
                            <span asp-validation-for="Expiry" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ManufactoringDate">ManufacturingDate</label>
                            <input asp-for="ManufactoringDate" type="date" class="form-control">
                            <span asp-validation-for="ManufactoringDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status">Status</label>
                            <select asp-for="Status" class="form-control custom-select">
                                <option selected="" disabled="">Select one</option>
                                @foreach (Status status in Enum.GetValues(typeof(Status)))  
                                {
                                    <option value="@status">@status.ToString()</option>
                                }
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="row pb-3">
                    <div class="col-md-12">
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Update Product" class="btn btn-success float-right">
                    </div>
                </div>
            </form>
        </div>
        
    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @await Html.PartialAsync("_Summernote", new {height = 200, selector = "#Description"})
}
