@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    @*<p>Use this page to detail your site's privacy policy.</p>*@

    <ul class="list-group" >
        <li class="list-group-item">
            <span class="text-bold">Introduction </span>
            We respect your privacy and are committed to protecting the personal information you provide to us. This Privacy Policy explains how we collect, use, protect, and disclose your personal information.
        </li>
        <li class="list-group-item">
            <span class="text-bold">Information We Collect </span>
            We may collect personal information such as name, email address, phone number, address, and payment information when you register for our services.
        </li>
        <li class="list-group-item">
            <span class="text-bold">How We Use Your Information </span>
            We use your information to manage your account, provide services, process payments, and send notifications and updates about our services.
        </li>
        <li class="list-group-item">
            <span class="text-bold">Protecting Your Information </span>
            We use technical and organizational security measures to protect your personal information from unauthorized access, use, or disclosure.
        </li>
        <li class="list-group-item">
            <span class="text-bold">Sharing Information </span>
            We do not share your personal information with third parties except when legally required.
        </li>
        <li class="list-group-item">
            <span class="text-bold">Your Rights </span>
            You have the right to access, modify, or delete your personal information that we hold. You also have the right to object to or restrict our processing of your personal information.
        </li>
        <li class="list-group-item">
            <span class="text-bold">Contac  </span>
            If you have any questions or concerns about this Privacy Policy, please contact us.
        </li>
    </ul>
    <p class="blockquote pt-3  ">Please note that this is just an example and it may not be suitable for all websites. You should seek professional legal advice when drafting a Privacy Policy for your website.</p>
</div>
