@model QuanLyKho.Models.Entities.Order
@using QuanLyKho.Models.Entities;

@{
    ViewData["Title"] = "Edit";
}



<section class="content pb-2">
    <form asp-action="Edit" method="post">
        <div class="row ">
            <div class="col-md-8 offset-2">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update order information</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <input asp-for="Id" type="hidden">
                        <input asp-for="CustomerId" type="hidden" />
                        <input asp-for="StaffId" type="hidden" />
                        <input asp-for="StoreId" type="hidden" />


                        <div class="form-group">
                            <label asp-for="CustomerName">Customer name</label>
                            <input asp-for="CustomerName" type="text" class="form-control">
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Date Of Birth</label>
                            <input asp-for="Email" type="date" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="PhoneNumber">PhoneNumber</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <textarea asp-for="Address" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note">Start day</label>
                            <input asp-for="Note" type="date" class="form-control">
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShipStatus">Ship status</label>
                            <select asp-for="ShipStatus" class="form-control custom-select">
                                @foreach (ShipStatus shipStatus in Enum.GetValues(typeof(ShipStatus)))
                                {
                                    <option value="@shipStatus">@shipStatus.ToString()</option>
                                }
                            </select>
                            <span asp-validation-for="ShipStatus" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Update Staff" class="btn btn-success float-right">
            </div>
        </div>
    </form>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}