@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = null;
}

<div style="text-align: center; margin-top: 100px">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>

</div>